:root {
	/* primary colors */
	--black: #000;
	--white: #fff;
	--deep-brown: #373928;
	--gray: #d3d3d3;
	--orange: #ce6a10;
	--brown: #4f4e43;
	--red: red;
}

/* global styling  */
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	font-size: 1rem;
	font-family: 'poppins', sans-serif;
	font-style: normal;
	font-weight: normal;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: var(--white);
	overflow-x: hidden;
	position: relative;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* header styling starts here */

.nav-element {
	width: 100%;
	padding: 0 5%;
	padding-left: 4%;
  z-index: 2;
  display: flex;
	justify-content: space-between;
	align-items: center;
}

	.logo img {
		width: 70px;
	}

	.nav-items {
		display: flex;
		gap: 10px;
		justify-content: flex-end;
		align-items: center;
	}

	.nav-list li {
			font-size: 0.9rem;
		line-height: 20px;
		color: var(--white);
		padding: 8px;
		border-radius: 10px;
		text-align: center;
    cursor: pointer;
	}

	.nav-list li:hover {
		color: var(--red);
	}

  /* main section styling starts here */
  
  